/examples/RLC_example/models/
/examples/RLC_example/fig/
/examples/CSTR_example/models/
/examples/CSTR_example/fig/
/examples/cartpole_example/fig/
/examples/cartpole_example/models/
/doc/paper/ms.synctex.gz
/doc/paper/ms.blg
/doc/paper/ms.log
/doc/paper/ms.aux
/doc/paper/ms.bbl
